/* p{
    color:rgb(237, 112, 224);
  }  */

  #para2{
    color:pink;
  }

  .para1{
    color:green;
    border-width: 1px;
    border:1px solid orange;
    border-style :black;
    padding: 10px;
    margin: 30px;
  }